/* text-slider */
.text-slider {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: #222222;
  color: #eff5f5;
}
.text-slider .text-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: 12px;
}
/* slider */
.slider .slider-left,
.slider .slider-right {
  padding: 12px;
}

.btn-buy-now {
  top: 95%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.slider .slider-left .left-img,
.slider .slider-right img {
  border-radius: 32px;
}

/* List product */
.list-product-top {
  background-color: #81c8c2;
  width: 100%;
  height: 700px;
  border-radius: 32px;
  margin: 90px 0px;
}
.list-product-slider {
  background-color: #bfe8e3;
}
.badge-discount {
  top: 0%;
  left: 0%;
}
.badge-discount-slider {
  top: 0%;
  left: 4.5%;
}
.list-product-top .list-title {
  color: #ffffff;
  text-align: center;
}
.list-title .right-title h1 {
  font-weight: 700;
  font-size: 36px;
}
.btn-add-cart {
  margin-top: 12px;
}
/* slider list product */
.list-product-top .list-product {
  border-radius: 32px;
}
.card-body {
  text-align: center;
}
.card-title {
  font-size: 18px;
  font-weight: 650;
}
.card-text {
  font-size: 15px;
  font-weight: 500;
}

.card {
  border-radius: 12px;
}

.slider-item a:hover {
  color: #81c8c2;
}
.price {
  text-decoration: line-through;
  opacity: 0.5;
}

/* css slider */
.list-product {
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.slider-inner {
  width: 9999%;
  height: auto;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.75s ease;
}

.slider-item {
  width: 22.66vw;
  height: 100%;
  float: left;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  color: #aaa;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px 3px;
  background: white;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.15s ease;
  border: 1px solid #ddd;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#prev {
  left: 0%;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  color: #888;
}

/* list-product-bottom */
.list-product-bottom {
  background-color: #81c8c2;
  width: 100%;
  height: auto;
  margin: 90px 0px;
}
/* list product hot trend */
.list-product-hottrend a:hover {
  color: #81c8c2;
}
.card-img {
  border-radius: 12px 12px 0px 0px;
}
/* Tìm kính phù hợp */
.text-desc {
  inline-size: 500px;
  overflow-wrap: break-word;
}
.baner-choose-glass a:hover {
  color: #81c8c2;
}
.baner-choose-glass .img-baner {
  border-radius: 28px;
}

/* Vũ trụ truyền thông */
.social-desc {
  font-weight: 350;
  line-height: 24px;
}
.social-link-fb,
.social-link-ig,
.social-link-tiktok {
  width: 230px;
  height: 200px;
}
.social-link-fb {
  top: 23%;
  left: 6%;
  background-color: #0d8ef1;
  width: 230px;
  height: 200px;
}
.social-link-ig {
  top: -12%;
  left: 58%;
  background-image: linear-gradient(
    to top right,
    #e9875f,
    #d75b65,
    #ca4b8c,
    #b93f9a,
    #a93894
  );
}
.social-link-tiktok {
  top: 60%;
  left: 58%;
  background-image: linear-gradient(
    to top left,
    #bc0102,
    #450100,
    #000000,
    #003938,
    #00afae
  );
}

/* HỎI ĐÁP Q & A CÙNG ANNA */
.accordion-item .accordion-body p {
  padding-top: 36px;
  line-height: 24px;
}
/* Responesive */
/* mobile */
@media only screen and (max-width: 767px) {
  .btn-buy-now {
    transform: scale(0.5);
    top: 90%;
    left: 34%;
  }
  .choose-glass-text {
    transform: scale(0.6);
    order: 2;
  }
  .choose-glass-img {
    order: 1;
  }
  .store-img {
    margin-top: 8px;
  }
  .btn-search-store {
    margin: auto !important;
  }
  .store-title {
    font-size: 22px !important;
  }
  .social-desc {
    text-align: justify;
  }
  .social-link {
    transform: scale(0.5);
  }
  .answer-sunny {
    transform: scale(0.8);
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choose-glass-text,
  .social-link {
    transform: scale(0.8);
  }
  .store-img {
    margin-top: 8px;
  }
  .store-title {
    font-size: 32px !important;
  }
}
